h1 {
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

img {
    height: 200px;
    width: 200px;
}

.gameInstructions {
    background-color: #51818a;
    color: white;
    line-height: 1.5;
    border-radius: 25px;
    padding: 20px;
    font-family: 'ABeeZee', sans-serif;
}

#finalTotal, #randomNumber {
    background-color: #9aa3a5;
    color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    font-family: 'Cantarell', sans-serif;
}

#tally {
    background-color: #51818a;
    color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    font-family: 'Cantarell', sans-serif;
}

.btn {
    align-content: center;
}